.pc-container {
  display: flex;
  flex-flow: row wrap;
}
.p-container {
  background-color: #fff;
  width: 100%;
  max-width: 50%;
  margin: 5% 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: 400px;
  display: flex;
  flex-flow: column nowrap;
}

.p-img {
  flex: 0;
  padding: 4%;
  width: 328px;
  height: 328px;
  flex: 1 0 auto;
}
.p-img img {
  position: relative;
  width: 100%;
  animation: jump 0.55s ease-in-out;
}
.p-img-shadow {
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.p-header {
  display: flex;
}

.p-title {
  margin: 0 4%;
  text-transform: capitalize;
}
.p-title h2 {
  text-transform: uppercase;
}
.p-footer {
  margin: 8% 4%;
}
.p-footer p {
  font-family: "Coda Caption", sans-serif;
  font-size: 0.8em;
}
.p-type {
  padding: 4px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.p-types-list {
  display: flex;
}
@keyframes jump {
  0% {
    top: 0;
  }
  40% {
    top: -65px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -30px;
  }
  100% {
    top: 0;
  }
}
