.mp-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.mp-search-container {
  width: 40%;
}
.mp-search-form {
  display: flex;
}
.mp-search-form > input {
  flex: 1;
  border-top: 4px solid #e74c3c;
  border-bottom: 4px solid black;
  margin: 0 2% 0 0;
  padding: 0 2%;
  font-size: 2em;
}
.mp-search-btn {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 5px solid black;
  cursor: pointer;
}
.mp-search-btn > div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
  background-color: #7f8c8d;
}
.mp-search-btn > div:hover {
  background-color: #e74c3c;
}
