body {
  font-family: "Recursive", sans-serif;
  background-color: aquamarine;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./assets/backgrounds/grass.png");
}
.flex-fill {
  flex: 1;
}
.flex-container {
  display: flex;
  flex-flow: column nowrap;
}
.flex-container > div {
  flex: 1;
}
.poke-app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
